<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovfreshuser">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lovfresh"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.address.AddShippingAddress"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notificaitons.NotificationList"
            android:exported="false" />
        <activity
            android:name=".ui.orders.OrderDetailPopup"
            android:exported="false"
            android:theme="@style/mytheme" />
        <activity
            android:name=".ui.orders.OrderPage"
            android:exported="false" />
        <activity
            android:name=".ui.vendors.VendorDetails"
            android:exported="false" />
        <activity
            android:name=".ui.vendors.StoreSelectionPage"
            android:exported="false" />
        <activity
            android:name=".ui.referal.ReferFriend"
            android:exported="false" />
        <activity
            android:name=".ui.settings.NotificaitonSettings"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsPage"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pickUpDelivery.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.address.ShippingAddressListActivity"
            android:exported="true"
            >

        </activity>
        <activity
            android:name=".ui.pickUpDelivery.PickAndDeliveryPage"
            android:exported="false" />
        <activity
            android:name=".ui.CartPage"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductDetails"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductMenuPage"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.VerifyOtp"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".ui.LoginPage"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>